.Button {
  padding: 0 24px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #FFFFFF;
  border-radius: 8px;
  background: #34295E;
  cursor: pointer;
  font-size: 16px;

  .title {
    color: white;
    font-weight: bold;
  }

}


.inverse-colors{
  border: 1.5px solid #34295E;
  background: #FFFFFF;

  .title {
    color: #34295E;
  }
}
