.SignUpPage {
  display: flex;
  justify-content: center;

  .inner {
    width: 290px;

    @media (min-width: 768px) {
      width: 480px;
    }

    .input-wrapper{
      margin-top: 24px;
    }
  }

}