.Header {
  height: 64px;
  display: grid;
  grid-template-columns: 50% 50%;
  background: #34295E;

  .logo {
    display: flex;
    justify-content: flex-start;
    padding-left: 24px;
    align-items: center;

    .text {
      display: inline-block;
      color: white;
      font-size: 24px;
      font-weight: bold;
    }
  }

  .header-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .header-content-item {
      margin-right: 24px;
    }
  }

  .user-name {
    display: inline-block;
    color: white;
    font-size: 24px;
    font-weight: bold;
  }
}