.SnackBar {
  width: 480px;
  height: 64px;
  border-radius: 30px;

  &.error { background: #FFA3A3; }
  &.warning { background: #FEFFB7;  }
  &.success { background: #D2E3C1; }


  .inner {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 72px;
    .title {
      display: flex;
      align-items: center;
      padding-left: 24px;
      font-weight: bold;
    }

    .icon {

      display: flex;
      align-items: center;
      padding-left: 24px;
      font-weight: bold;

    }
  }
}